.vs
C2Shell/bin/Debug
C2Shell/bin/开发调试
C2Shell/bin/Release
C2Shell/bin
C2Shell/obj/Debug
C2Shell/obj/开发调试
C2Shell/obj/Release
C2Shell/obj
Citta_T1/obj/Debug
Citta_T1/bin/Debug
Citta_T1/bin/Release
Citta_T1/obj/Release
Citta_T1/obj/开发调试
Citta_T1/bin/开发调试
Citta_T1/obj
Citta_T1/bin
HZH_Controls
CITTA测试数据
static_image_save.bmp
.idea
UpgradeLog.htm
UpgradeLog2.htm
packages/NPOI.2.5.1/.signature.p7s
packages/NPOI.2.5.1/LICENSE
packages/NPOI.2.5.1/NPOI.2.5.1.nupkg
packages/NPOI.2.5.1/lib/NPOI.OOXML.XML
packages/NPOI.2.5.1/lib/NPOI.XML
packages/NPOI.2.5.1/lib/net40/
packages/NPOI.2.5.1/lib/netstandard2.0/
packages/Portable.BouncyCastle.1.8.6/.signature.p7s
packages/Portable.BouncyCastle.1.8.6/Portable.BouncyCastle.1.8.6.nupkg
packages/Portable.BouncyCastle.1.8.6/lib/net40/BouncyCastle.Crypto.xml
packages/Portable.BouncyCastle.1.8.6/lib/netstandard2.0/
packages/SharpZipLib.1.2.0/.signature.p7s
packages/SharpZipLib.1.2.0/SharpZipLib.1.2.0.nupkg
packages/SharpZipLib.1.2.0/lib/net45/ICSharpCode.SharpZipLib.xml
packages/SharpZipLib.1.2.0/lib/netstandard2.0/
UserInstallSet/bin/Debug
UserInstallSet/obj/Debug
UserInstallSet/bin
UserInstallSet/obj
IAO解决方案/Debug
IAO解决方案/Release
UserInstallSet/bin/Debug/UserInstallSet.dll
UserInstallSet/bin/Debug/UserInstallSet.pdb
UserInstallSet/obj/Debug/UserInstallSet.csprojAssemblyReference.cache
UserInstallSet/obj/Debug/UserInstallSet.dll
UserInstallSet/obj/Debug/UserInstallSet.pdb
/UserControlDLL/bin/Debug
/UserControlDLL/obj/Debug
/UserControlDLL/bin/Release
/UserControlDLL/obj/Release
/Citta_T1/datas/100W_test.xls
/Citta_T1/datas/100W_test.xlsx
/Citta_T1/datas/departuredelays.csv
/tools/cat_xls/obj
/tools/cat_xls/bin
/tools/relate/obj
/tools/relate/bin
/Citta_T1/datas/allresult_20191018_1571385078.txt
/Citta_T1/datas/7月胶水运营分配.txt
/Citta_T1/datas/jiangsu.txt
/Citta_T1/datas/test_1xlsx.xlsx
/Citta_T1/datas/text_gbk_7-副本.txt
/UpgradeLog3.htm
/CittaTestProject
/CittaDoc
/Blumind
UpgradeLog*
Citta_T1/Templates/
/Citta_T1/datas/100W_test.csv
/Citta_T1/datas/100W_test.tsv
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
C2自动化测试样例/obj
C2自动化测试样例/bin
/packages/MSTest.TestAdapter.2.1.1
/packages/MSTest.TestFramework.2.1.1
C2Plugins/RookieKnowledgePlugin/bin
C2Plugins/RookieKnowledgePlugin/obj
C2Plugins/QQSpiderPlugin/bin
C2Plugins/QQSpiderPlugin/obj
C2Plugins/Game2048Plugin/bin
C2Plugins/Game2048Plugin/obj
C2Plugins/MD5Plugin/bin
C2Plugins/MD5Plugin/obj
/Citta_T1/datas/jiangsu111111111111111111111.txt
