h2,textarea {
  margin: 0; font-weight:normal;
  margin: 0;
  padding:0;list-style: none;font-style: normal;
}
html,body{ font-family: 微软雅黑, MicrosoftYahei, sans-serif; color:#fff; background:#00065b url(../img/img11/back.png);    background-size: 100% 100%;background-position:0 0; width: 100%; height: 100%; }

.wpbox{
  width: 100%;
  height: calc(100% - 10%)
}

.bg_header{
    width: 100%;
    height: 5%;
    background: url(../img/img11/title.png) no-repeat;
    background-size: 100% 100%;
}

.bnt{ height:9%; width: 100%; display: inline-block;}

.left1{ width: 21%; height: calc(100% - 10%);float: left; padding-left:2.2%; padding-top:2.2% ;text-align: center;}
.mrbox{float: left; width: 76%; height: 100%;padding-top:2.2% ;}
.mrbox_topmidd{float: left; width:76%; padding-left:.2%;height: 100%;}
.mrbox_top_right{ float: right; width: 29.4%; padding-right: 1.4%; height: 100%}



.aleftboxttop{background:url(../img/img11/border.png);background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:99%; height: 57.5%; margin-bottom: 1%}
.aleftboxtbott{background:url(../img/img11/border.png); background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:100%;height: 45% }

.amiddboxttop{ overflow: hidden;background:url(../img/img11/border2.png);background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:99%; height:20%;}

.amidd_bott{  background:url(../img/img11/border.png);background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width: 99%; height: 92%; padding-top:.8%}


.arightboxtop{background:url(../img/img11/border.png);background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:100%; height: 51.9%;}
.arightboxbott{background:url(../img/img11/border.png);background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:100%; height: 40%; margin-top: 3%}

.tith1{ text-align: center; width: 100%; font-size: 22px;  font-weight: normal;letter-spacing:2px; font-weight:  normal; overflow: hidden; padding-bottom: 1%;}

.tith2{ text-align: center; width: 100%; font-size: 12px; padding-top: 1.9%;  font-weight: normal;letter-spacing:2px; font-weight:  normal; overflow: hidden;}

.tith3{ text-align: center; width: 100%; font-size: 12px; padding-top: 1.0%;  font-weight: normal;letter-spacing:2px; font-weight:  normal; overflow: hidden;}

.tlbox{overflow: hidden; height: 81%; width: 91%; margin: 1% 4%;background: rgba(1,202,217,.2); font-size: 12px;}

.tlbox2{overflow: hidden; height: 81%; width: 91%; margin: 1% 4%;font-size: 12px;}

.fl{ float: left;}

.bar{background:rgba(101,132,226,.1); padding: .15rem;}
.barbox li,.barbox2 li{ width:50%; text-align: center; position: relative; z-index: 100;}

.barbox{  border: 1px solid rgba(25,186,139,.17); position: relative;}
.barbox li{ font-size: 1.7rem; color: #ffeb7b; padding: .05rem 0;  font-family:electronicFont; font-weight: bold;}
.barbox2 li{ font-size: 1.7rem; color:rgba(255,255,255,.7); padding-top: .1rem;}

.pulll_left{float:left;}