h2,textarea {
  margin: 0; font-weight:normal;
  margin: 0;
  padding:0;list-style: none;font-style: normal;
}
html,body{ font-family: 微软雅黑, MicrosoftYahei, sans-serif; color:#fff; background:#00065b url(../img/img6/back.png);    background-size: 100% 100%;background-position:0 0; width: 100%; height: 100%; }

.wpbox{
  width: 100%;
  height: calc(100% - 10%)
}

.bg_header{
    width: 100%;
    height: 5%;
    background: url(../img/img6/title.png) no-repeat;
    background-size: 100% 100%;
}

.bnt{ height:9%; width: 100%; display: inline-block;}

.left1{ width: 45%; height: 100%;float: left; padding-left:2.2%; padding-top:2.2% ;text-align: center;}

.mrbox{float: left; width: 45%; height: 100%;padding-top:2.2% ;}

.mrbox_top_right{ float: right; width: 100%; padding-right: 1.4%; height: 100%}



.aleftboxttop{background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:99%; height: 50%}
.aleftboxtbott{background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:100%;height: 50% }


.arightboxtop{background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:100%; height: 50%;}
.arightboxbott{background-size: 100% 100%; background-repeat: no-repeat;background-position: top center; width:100%; height: 50%}

.tith1{ text-align: center; width: 100%; font-size: 22px;  font-weight: normal;letter-spacing:2px; font-weight:  normal; overflow: hidden; padding-bottom: 1%;}

.tith2{ text-align: center; width: 100%; font-size: 12px; padding-top: 1.9%;  font-weight: normal;letter-spacing:2px; font-weight:  normal; overflow: hidden;}

.tith3{ text-align: center; width: 100%; font-size: 12px; padding-top: 1.0%;  font-weight: normal;letter-spacing:2px; font-weight:  normal; overflow: hidden;}

.tlbox{overflow: hidden; height: 81%; width: 91%; margin: 1% 4%;background: rgba(1,202,217,.2); font-size: 12px;}

.tlbox2{overflow: hidden; height: 81%; width: 91%; margin: 1% 4%;font-size: 12px;}

.fl{ float: left;}

