<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="C2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="workspace" value="C:\FiberHomeIAOModelDocument" />
    <add key="RunLevel" value="NoLogin" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="IAOLab" value=" BigAPK, APK, BaseStation, Wifi, Card, Tude, Ip "/>
    <add key="version" value="1.1.3" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <C2.Properties.Settings>
      <setting name="baiduHeatAPI" serializeAs="String">
        <value>http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js</value>
      </setting>
      <setting name="lontude" serializeAs="String">
        <value>118.744</value>
      </setting>
      <setting name="latude" serializeAs="String">
        <value>31.996</value>
      </setting>
      <setting name="scale" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="baiduVerAPI" serializeAs="String">
        <value>FtB873TFjPPzgs7M3fs4oxTPqxr7MGn9</value>
      </setting>
    </C2.Properties.Settings>
  </userSettings>
</configuration>